html{
  height: 100em;
}

#root {
  height: 100em;
}

main {
  height: 100%;
}

.header {
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header h1 {
  padding-left: 10px;
}

.nav {
  display: flex;
}

.nav a {
  padding-right: 10px;
  text-decoration: none;
}

.HomePage {
  background-image: url(https://images.ctfassets.net/usf1vwtuqyxm/7EsDSrJhr0pNwUNK8lrUwY/f8d7e5101de6dda8f46c0f94673087a9/HP-Hogwarts-39PHOTOBU17074_PHUP_HP.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.HomePage h3 {
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
  font-size: xx-large;
  margin-top: 0;
  padding-top: 1em;
}

.Houses {
  background-image: url(https://wallpaperaccess.com/full/789433.jpg);
  background-position: center;
  background-size: cover;
}

.houseBox {
  display: grid;
  border: 2px solid black;
  width: 250px;
  height: 250px;
}

.top {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
}

.container a {
  margin: 0 auto;
}

.army, .ministry, .order, .death{
  display: none;
}

.Houses h1{
  margin-top: 0;
}

.container a {
  width: 252px;
}

.gryffindor {
  background-image: url(https://cdn.wallpapername.com/1600x1089/20121101/harry%20potter%20gryffindor%20hogwarts%201600x1089%20wallpaper_www.wallpapername.com_50.jpg);
  background-size: cover;
  background-position: center;
}

.gryffindor h1 {
  margin-top: 0;
  text-align: center;
}

.gryffindor h3 {
  color: #d9ce40;
}

.gryffindor li {
  color: #d9ce40;
}

.gryffindor ul {
 column-count: 2;
 column-gap: 0;
 width: 50%;
}

.slytherin {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/564/319/733/slytherin-sonserina-harry-potter-hogwarts-wallpaper-preview.jpg);
  background-size: cover;
  background-position: center;
}

.slytherin h1 {
  margin-top: 0;
  text-align: center;
}

.slytherin h3 {
  color: white;
}

.slytherin li {
  color: white;
}

.slytherin ul {
  column-count: 2;
  column-gap: 0;
  width: 50%;
 }